@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Krona One', sans-serif;
    font-family: 'Poppins', sans-serif;
  }  
}

@layer components {  
  /* item product compact */
  .productCompact {
    @apply 
      bg-[#1e1e1e] text-gray-700
      w-[calc(25%-1.5rem)] min-h-[10rem]
      /* h-fit */
      shadow-black-rb-0.75
      border-primary
      border-solid
      border-[3px]
      rounded-md
      overflow-hidden
      select-none
      mx-3 my-4
      cursor-pointer
      transition-all
      duration-300
      block
      hover:border-primary-hover            
  }

  .productCompact__badge {
    @apply 
      px-3 py-1 rounded-full text-xs bg-gray-100
  }

  .productCompact__title {
    @apply
      font-semibold text-2xl
      overflow-ellipsis overflow-hidden whitespace-nowrap
      text-white
  }

  .productCompact__discountPercent {
    @apply 
      bg-green-400
      px-1.5 py-0.5 rounded-full
      text-xs text-white
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
  
}

