/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Krona One", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
}

@layer components {
  /* item product compact */
  .productCompact {
    @apply bg-[#1e1e1e] text-gray-700
      w-[calc(25%-1.5rem)] min-h-[10rem]
      /* h-fit */
      shadow-black-rb-0.75
      border-rgba-white-0.1
      border-solid
      border-[3px]
      rounded-md
      overflow-hidden
      select-none
      mx-3 my-4
      cursor-pointer
      transition-all
      duration-300
      block
      hover:border-white;
  }

  .productCompact__badge {
    @apply px-3 py-2 rounded-full text-xs bg-[#f26398] text-white;
  }

  .productCompact__title {
    @apply font-bold text-2xl
      overflow-ellipsis overflow-hidden whitespace-nowrap
      text-white;
  }

  .productCompact__discountPercent {
    @apply flex justify-center items-center
      bg-green-400
      text-center
      px-1.5 py-0.5 rounded-full
      text-xs text-white;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  /* scrollbar primary */
  .scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar-primary::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #272626;
  }

  .scrollbar-primary::-webkit-scrollbar-thumb {
    background: #f4a7ba;
    border-radius: 100vh;
    border: 3px solid #f4a7ba;
  }

  .scrollbar-primary::-webkit-scrollbar-thumb:hover {
    background: #cf4764;
  }
}
